{% extends 'base.html' %}
{% block title %}欢迎登陆{% endblock %}
{% block style %}
<script src="/static/js/laydate/laydate.js"></script>
{% endblock %}

{% block content %}

<table>
  <tr>
     <td>今日花费</td><td>{{day_cost_sum}}元</td>
     <td>本周花费</td><td>{{week_cost_sum}}元</td>
     <td>本月花费</td><td>{{month_cost_sum}}元</td>
  </tr>
  <tr>
     <td>上月花费</td><td>{{last_month_cost_sum}}元</td>
     <td>本年花费</td><td>{{year_cost_sum}}元</td>
     <td>累计花费</td><td>{{total_cost_sum}}元</td>
  </tr>
  <tr>
     <td>本月收入</td><td>{{month_earn_sum}}元</td>
     <td>本年收入</td><td>{{year_earn_sum}}元</td>
     <td>累计收入</td><td>{{total_earn_sum}}元</td>
  </tr>
 </table>

<h2>开始记账</h2>
<form method = 'post' enctype="multipart/form-data">
    {% csrf_token %}
    <table>
      <tr>
         <td>购买项目</td><td>{{cf.content}}</td>
      </tr>
      <tr>
         <td>花费</td><td>{{cf.cost}}</td>
      </tr>
      <tr>
         <td>时间</td><td>{{cf.cost_date}}</td>
      </tr>
     </table>
    <input type="submit" value = "记账" />
</form>
{% if message %}<p><strong>{{ message }}</strong></p>{% endif %}
<h2>历史账单</h2>
<div class="results">
{%include "page_nav.html" %}
<table id="result_list" align='center'>
<thead>
<tr>

<th scope="col" class="action-checkbox-column">
   
   <div class="text"><span></span></div>
   <div class="clear"></div>
</th>
<th scope="col" class="column-__str__">
   <div class="text"><span>记账人</span></div>
   <div class="clear"></div>
</th>
<th scope="col" class="column-__str__">
   <div class="text"><span>购买项目</span></div>
   <div class="clear"></div>
</th>
<th scope="col" class="column-__str__">
   <div class="text"><span>花费</span></div>
   <div class="clear"></div>
</th>
<th scope="col" class="column-__str__">
   <div class="text"><span>时间</span></div>
   <div class="clear"></div>
</th>
<th scope="col" class="column-__str__">
   <div class="text"><span>操作</span></div>
   <div class="clear"></div>
</th>
</tr>
</thead>
<tbody>

{% for item in book_page.object_list %}
<tr class="{% cycle row1, row2 %}">
   <td class="action-checkbox">
   </td>
   <th class="field-__str__">
      {{ username }}
   </th>
   <th class="field-__str__">
      {{ item.content }}
   </th>
   <th class="field-__str__">
      {{ item.cost }}
   </th>
   <th class="field-__str__">
      {{ item.cost_date|date:"Y-m-d H:i" }}
   </th>
   <th class="field-__str__">
      <a href="{% url 'accountBook:updateView' item.id %}">修改</a>
      <a href="{% url 'accountBook:delete' item.id %}">删除</a>
   </th>
</tr>
{% endfor %}
<tr class="row2">
   <td class="action-checkbox">
   </td>
   <th class="field-__str__">
      
   </th>
   <th class="field-__str__">
      
   </th>
   <th class="field-__str__">
      {{ total_cost }}
   </th>
   <th class="field-__str__">
      
   </th>
</tr>

</tbody>
</table>
{%include "page_nav.html" %}
</div>

<script>
var start = {
    elem: '#id_cost_date',
    format: 'YYYY-MM-DD hh:mm:ss',
    min: '1000-01-01 00:00:00', //设定最小日期为当前日期
    max: '2099-06-16 23:59:59', //最大日期
    istime: true,
    istoday: true,
	festival: true
};
laydate(start);
</script>

{% endblock %}

{% block username %}
{{ username }}
{% endblock %}