{% extends 'base2.0.html' %}
{% block title %}欢迎登陆{% endblock %}

{% block content %}

<form class="form-signin" method="post" enctype="multipart/form-data">
        {% csrf_token %}    
        <h2 class="form-signin-heading">欢迎登陆记账系统</h2>
        <div class="form-group">
            <label for="inputUserName" class="sr-only">用户名</label>
            <input type="text" id="inputUserName" name="username" class="form-control" placeholder="用户名" required autofocus>
        </div>
        <div class="form-group">
            <label for="inputPassword" class="sr-only">密码</label>
            <input type="password" id="inputPassword" name="password" class="form-control" placeholder="密码" required>
        </div>
        {% if error_message %}
            <div class="alert alert-danger alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <strong>{{ error_message }}</strong>
            </div>
        {% endif %}
        <!--<div class="checkbox">-->
            <!--<label>-->
                <!--<input type="checkbox" value="remember-me"> Remember me-->
            <!--</label>-->
        <!--</div>-->
        <button class="btn btn-lg btn-primary btn-block" type="submit">登陆</button>
        <a class="btn btn-lg btn-success btn-block" role="button" href="{% url 'accountBook:regist' %}">注册</a>
        
</form>


{% endblock %}