<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#"><span class="glyphicon glyphicon-leaf" aria-hidden="true"></span></a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="#"><b>首页</b></a></li>

            </ul>
            <ul class="nav navbar-nav navbar-right">
                {% if username %}
                    <li><p class="navbar-text">欢迎登录，{{ username }}</p><span class="sr-only">(current)</span></li>
                    <li><a class="btn btn-default btn-link" href="{% url 'accountBook:logout' %}"><b>注销</b><span class="sr-only">(current)</span></a></li>
                {% else %}
                    <li><a class="btn btn-default btn-link" href="{% url 'accountBook:login' %}"><b>登录</b><span class="sr-only">(current)</span></a></li>
                    <li><a class="btn btn-default btn-link" href="{% url 'accountBook:regist' %}"><b>注册</b><span class="sr-only">(current)</span></a></li>
                {% endif %}
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>